<html>
  <head>
    <script type="text/javascript" src="scripts/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.ddslick.js"></script>
    <script type="text/javascript" src="scripts/localization.js"></script>
    <link rel="Stylesheet" href="styles/localization.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <select id="languageSelector">
          <% @languages.each do |language| %>
            <option value="<%=language.id %>"><%=language.name %></option>
          <% end %>
          %>
        </select>

        <a href="/doLogout" id="logoutButton"></a>
      </div>
      
      <div id="content">
        <a id="addKey" href="#">Add Key</a>
        <table id="phraseTable">
          <tr class="template">
            <td class="key"></td>
            <td class="phraseColumn">
              <a href="#" class="phrase">
            </td>
            <td class="controls">
              <a class="editKeyButton"></a>
              <a class="deleteKeyButton"></a>
            </td>
          </tr>
        </table>
      </div>

      <div id="keyEditor" class="dialog">
        <div class="dialogBox">
          <h1>Key Editor</h1>

          <form action="/savePhraseKey">
            <div class="form_block">
              <label for="name">Key</label>
              <input type="text" id="key" name="key" />
            </div>

            <div class="form_block">
              <label for="name">Max Length</label>
              <input type="text" id="key" name="key" />
            </div>

            <div class="form_block">
              <label for="photo">Photo</label>
              <input type="file" id="photo" name="photo" />
            </div>

            <div class="button_block">
              <input type="button" value="" class="cancel" />
              <input type="submit" value=""/>
            </div>
          </form>

        </div>
      </div>

<!--       <div id="phraseEditor" class="dialog">
        <div class="dialogBox">
          <h1>Phrase Editor -- <span id="keyForPhraseBeingEditted">Key goes here</span></h1>
          <form action="/savePhrase">
            <div class="imageBox">
              <img src="sample2.png"/>
            </div>

            <div>
              <textarea style="height: 100px"></textarea>
            </div>
            <div class="button_block">
              <input type="button" class="cancel" />
              <input type="submit" value=""/>
            </div>
          </form>
        </div>
 -->        
      </div>

    </div>
  </body>
</html>
