<html>
  <head>
    <script type="text/javascript" src="scripts/jquery-1.8.1.min.js"></script>
    <script type="text/javascript" src="scripts/jquery.ddslick.js"></script>
    <script type="text/javascript" src="scripts/localization.js"></script>
    <link rel="Stylesheet" href="styles/localization.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <select id="languageSelector">
          <% @languages.each do |language| %>
            <option value="<%=language.id %>"><%=language.name %></option>
          <% end %>
          %>
        </select>

        <a href="/doLogout" id="logoutButton"></a>
      </div>
      
      <div id="content">
        <a id="addKey" href="#">Add Key</a>
        <table id="phraseTable">
          <tr class="template">
            <td class="key"></td>
            <td class="phrase"></td>
            <td class="controls">
              <a href="#editKey">e</a>
              <a href="#deleteKey">x</a>
            </td>
          </tr>
        </table>
      </div>

      <div id="keyEditor" class="dialog">
      </div>

      <div id="phraseEditor" class="dialog">
      </div>

    </div>
  </body>
</html>
